<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>données brutes</title>
</head>
<body>
    <center>
        <div class="nom_brute">
            <h1 class="titre">SOL</h1>            
            <div class="nom_stat_brute">
                <img class="photo_sol" src="../assets/images/sol_brute.png">
            </div>
            <div class="nom_descrpt_brute">
                <p>
                    Le sol possède trois horizons ou couches principales :
                    Horizon A : Horizon lessivé ou horizon de départ;
                    Horizon B : Horizon alluvial ou horizon d’accumulation;
                    Horizon C : Roche- mère
                </p>
            </div>
            <div class="telechargement">
                <p class="texte">Vous pouvez voir et telecharger le fichier concernant ce donnée 
                    en cliquant ici</p>
                <div class="icon">
                    <a href="../files/sol.pdf" download>
                        <img class="icon-download" src="../assets/images/download.png"></a>
                </div>
            </div>

        </div>
        <!-- --------------------------------------------------------------------------------------- -->
         <div class="nom_brute">
            <h1 class="titre">TEMPERATURE</h1>
             <div class="nom_stat_brute">
                <img class="photo" src="../assets/images/temperature1.png">
             </div>
             <div class="nom_descrpt_brute">
                
                <p>
                    Les températures seront normales à plus chaudes dans la région d’ATSIMO ANDREFANA,
                     ainsi que le versant ouest d’ANDROY. Ailleurs elles seront plus chaudes.
                </p>
            </div>
            <div class="telechargement">
                <p class="texte">Vous pouvez voir et telecharger le fichier concernant ce donnée 
                    en cliquant ici</p>
                <div class="icon">
                    <a href="../files/température.pdf" download>
                        <img class="icon-download" src="../assets/images/download.png"></a>
                </div>
            </div>
         
        </div>
    <!-- ---------------------------------------------------------------------------------------------- -->
        <div class="nom_brute">
            <h1 class="titre">PRECIPITATION</h1>
            <div class="nom_stat_brute">
                <img class="photo" src="../assets/images/precipitation.jpeg">
            </div>
            <div class="nom_descrpt_brute">
             
                <p>Pour les trois prochains mois (Mars-Avril-Mai 2021), 
                    les précipitations seront normales à inférieures à la normale saisonnière 
                    dans la majeure partie de la Grande Ile, sauf dans la plus grande partie des régions MELAKY,
                    ANDROY, ANOSY et ATSIMO 
                    ATSINANANA où elles seront normales à supérieures à la normale.</p>
            </div>
            <div class="telechargement">
                <p class="texte">Vous pouvez voir et telecharger le fichier concernant ce donnée 
                en cliquant ici</p>
                <div class="icon">
                    <a href="../files/précipitation1.pdf" download>
                        <img class="icon-download" src="../assets/images/download.png"></a>
                </div>
            </div>
        </div>
    </center>
</body>
</html>