<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>AIC espaces pour vilgalisateurs</title>
</head>
<body id="container">
  <!--  en tête et menu de langue -->
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="#">Acceuil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Manager</a>
            </li>
        </ul>
        <ul class="my-2 my-lg-0 navbar-nav traduction">
            <li class="mr-sm-2"><img src="../assets/madagascar.png" alt="fr" width="20" height="20"><a href="">ML</a></li>
            <li class="mr-sm-2"><img src="../assets/france.png" alt="fr" width="20" height="20"><a href="">FR</a></li>
            <li class="my-2 my-sm-0"><img src="../assets/royaume-uni.png" alt="fr" width="20" height="20"><a href="">EN</a></li>
        </ul>
        </nav>
    </header> 
     <!-- heropage -->
  <div id="all">
    <div class="heroPage1">
      <h1>NETMET Organisation</h1>
      <p>Oeuvrons ensemble dans l'agriculture intelligente</p>
    </div>

  <!-- Menu pour tous  -->
    <div class="row menu">
      <div class="col-md-2"></div>
      <div class="col-md-2" v-for="menu in menus">
        <div class="card">
          <img class="card-img-top" v-bind:src="menu.source" alt="Card image cap">

          <div class="body-card">
          <h2 class="card-title"><a v-bind:href="menu.ref">{{ menu.titre }}</a></h2>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>

    <!-- Implémentation en vue js -->
  {# <script>
    var app = new Vue({
      el: "#all",
      data: {
        menus : [
          {
            titre:"Listes des specialistes",
            texte: "Vous aider pour les cultures que vous voulez",
            source:"../assets/itineraire.jpg",
            ref:"listevulga.html"
          },
          {
            titre:"Nos données brutes",
            texte: "Pour vous guider avec le changement de climat et la plantation",
            source:"../assets/calendrier1.png",
            ref:"donneesbrutes.html"
          },
          {
            titre:"Nos données traitées",
            texte: "Avoir les bonnes techniques pour vos plantations",
            source:"../assets/technique.jpg",
            ref:"donnestraites.html"
          }
        ],
      }
    })
  </script> #}
   
</body>