<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Agriculture intelligente</title>
  </head>
<body>
  <div>
    <h1>Itinéraire agricole</h1>
    <form action="" method="post">
      <input type="search" name="search" id="search">
      <button type="submit">Rechercher</button>
    </form>
    
  <!--  Liste culture -->
  <div class="row">
    <div class="col-md-2" >
      <div class="card">
        <img class=""  src="../assets/orange.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Orange</h2>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit </P>
          <button class="download">
            <a href="../assets/fichier.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>
    
    <div class="col-md-2" >
      <div class="card">
        <img class=""  src="assets/orange.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Orange</h2>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit </P>
          <button class="download">
            <a href="../assets/fichier.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-2" >
      <div class="card">
        <img class=""  src="assets/orange.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Orange</h2>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit </P>
          <button class="download">
            <a href="../assets/fichier.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-2" >
      <div class="card">
        <img class=""  src="assets/orange.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Orange</h2>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit </P>
          <button class="download">
            <a href="../assets/fichier.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-2" >
      <div class="card">
        <img class=""  src="assets/orange.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Orange</h2>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit </P>
          <button class="download">
            <a href="../assets/fichier.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>  

    <div class="col-md-2" >
      <div class="card">
        <img class=""  src="../assets/orange.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Orange</h2>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit </P>
          <button class="download">
            <a href="../assets/fichier.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>
  </div>
  
    

    <!-- Elevage -->

    <div class="row elevage">
      <div class="col-sm-6">
        <img src="assets/boeuf.jpg" alt="elevage" width=700 height="520">
      </div>

      <div class="col-sm-6 contenu">
        <h1 class="elevage">Elevage</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut recusandae aut eos eius incidunt amet animi accusamus inventore provident ducimus. Expedita aperiam molestiae dicta obcaecati repellat asperiores dolor officiis eum?</p>
      </div>
       
    </div>

  

  </div>

  
</body>
</html>