<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>liste des specialistes</title>
</head>
<body>
    <h2 class="liste_titre">Veuillez consulter nos spécialistes</h2>
    <div class="container">
        <div class="sp_sol">
            <center>
                <h3 class="sp_titre">Les spécialistes en SOL</h3>
                <a class="details" href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
            </center>   
        </div>
        <div class="sp_temperature">
            
            <center>
                <h3 class="sp_titre">Les spécialistes en SOL</h3>
                <a class="details" href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
            </center>
        </div>
        <div class="sp_precipitation">
            <center>
                <h3 class="sp_titre">Les spécialistes en SOL</h3>
                <a class="details" href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
                <a class="details"href="http://localhost:8080/">RAKOTOARISOA Louis Sergio</a><br>
            </center> 
        </div>

    </div>
</body>
</html>