<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style2.css">
  <title>Solution</title>
</head>
<body>
  <div class="container-fluid">
    <div class="main">
        <h1 align="center">Que faire en cas de retard/ absence de pluie ?</h1>
      <div class="row technique">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <div class="card part">
            <img src="../assets/binage.jpg" alt="binage" width="380" height="280">
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card part">
            <h1>Irrigation</h1>
            <ul>
              <li>Irrigation par bassin: <br>
                Luzerne,bananier, riz,tabac
              </li>
              <li>Irrigation par selons: <br>
                  Soja, tomate, vigne, blé
              </li>
              <li>Micro-irrigation ou irrigation goutte à goutte: <br>
                Légumes, fruits, arboriculture, vigne
              </li>
              <li>Irrigation par aspersion: <br>
                Cultures en ligne, de plein champ, arboriculture
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card part">
            <img src="../assets/muliching.jpeg" alt="mulching" width="380" height="280">
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    


      <div class="row technique">
        <div class="col-sm-2"></div>
        <div class="col-m col-sm-3">
          <div class="card part">
            <h1>Binage</h1>
            <ul>
              <li>Il doit être léger et superficiel (2cm maximum)</li>
              <li>Travail reculant sur parcelle bien tracée et semis bien réparties</li>
              <li>Pour les arbres et arbustes, il faut biner en cercle (rayon de 30cm)</li>
              <li>Intervenir en conditions sèches (1 à 2 jours après une bonne pluie)</li>
              <li>Matériel bien réglé avant l’utilisation (profondeur et agressivité)</li>
              <li>Intervenir lors du stade jeune des plantes</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card part">
            <img src="../assets/irrigation.jpg" alt="irrigation" width="380" height="290">
          </div>
        </div>

        <div class="col-sm-3">
          <div class="card part">
            <h1>Mulching</h1>
            <ul>
              <li>Épandre uniformément le paillis sur le sol (7 à 10 cm)</li>
              <li>Paillis : assez lourd pour résister au vent pas compacts pour laisser passer l’air et l’eau</li>
              <li>Désherber toujours avant de couvrir la terre par du paillis</li>
              <li>Généralement déposé au printemps</li>
              <li>Arroser avant et après avoir mis le paillis, en particulier en période desécheresse</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <img src="../assets/technique1.jpg" alt="tech" width="740" class="bann_img">
    </div>
    <div class="col-sm-4">
      <button class="download">
        <a href="../assets/fichier.pdf" download>Télecharger en PDF</a>        
      </button>
    </div>
  </div>


</body>
</html>