<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Agriculture intelligente</title>
  </head>
<body>
  <div>
    <h1>Itinéraire agricole</h1>
    <form action="" method="post">
      <input type="search" name="search" id="search">
      <button type="submit">Rechercher</button>
    </form>
    
    
  <!--  Liste culture -->
  <div class="row">
    <div class="col-md-4" >
      <div class="card">
        <img class=""  src="../assets/orange.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Orange</h2>
          <P>La plantation doit se faire avant la saison chaude sur un sol bien drainant de type alluvionnaire dont le PH est compris entre 5 et 8,5. La température optimale de culture doit se situer entre 12 et 36°C.
             La plante étant sensible au vent, il convient de mettre en place des brises vent avant la plantation. </P>
             <ul>
               <li>Piquetage:</li>
               <li>Trouaison:</li>
             </ul>
          <button class="download">
            <a href="../assets/fichier/itineraire1.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4" >
      <div class="card">
        <img class=""  src="../assets/vanille.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Vanille</h2>
          <P>Trois techniques de plantation sont principalement mises en œuvre, de la plus extensive à la plus intensive :
           <ul> 
            <li>en sous-bois, en utilisant les troncs des arbres comme supports.</li>  
            <li>en culture intercalaire, par exemple entre les cannes à sucre.</li>
            <li>sous ombrière. Les cultivateurs assurent le bouturage, contrôlent ou assistent le bon accrochage et veillent en particulier à replier la liane de telle façon que les futures gousses puissent se trouver à hauteur d’homme.</li>
          </ul>
             </P>
          <button class="download">
            <a href="../assets/fichier/itineraire.pdf" download>Télecharger en PDF</a>        
          </button>
        </div>
      </div>
    </div>
<!-- Elevage -->
    <div class="col-md-4">
      <div class="card">
        <img class=""  src="../assets/apiculture.jpg" alt="orange">
        <div class="body-card">
          <h2 class="card-title">Apiculture</h2>
          <P>Transvasement: déplacement des essaims des ruches traditionnelles vers les ruches modernes (à cadres).
            Piège: attraction des essaims en enduisant les ruches modernes avec un attire- essaim.
            Matériels nécessaires: ruche avec cire gaufrée, parcelles avec des plantes mellifères
          </P>
          <button class="download">
            <a href="../assets/fichier/itineraire3.pdf" download>Télecharger en PDF</a>      
          </button>
        </div>
      </div>
    </div> 
  </div>  

    <!-- Elevage -->
  </div>
  
    

    <!-- Elevage -->

    <div class="row elevage">
      <div class="col-sm-6">
        <img src="../assets/boeuf.jpg" alt="elevage" width=700 height="520">
      </div>

      <div class="col-sm-6 contenu">
        <h1 class="elevage">Elevage</h1>
        <p>L’élevage désigne l’ensemble des activités mises en œuvre pour assurer la production, la reproduction et l’entretien des animaux dits domestiques afin d’en obtenir différents produits ou services. Dans les pays riches, il s’agit principalement de production de viande, de lait, d’œufs, parfois de cuir et, plus localement, de force de travail et de fumure.
           Dans quelques sociétés traditionnelles, on continue à en attendre richesse et prestige.</p>
      </div>
       
    </div>

  

  </div>

  
</body>
</html>