/* Globals */
.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #50a8c5;
    border-color: #50a8c5;
}
.btn-primary, .btn-primary:hover {
    background-color: #50a8c5;
    border-color: #50a8c5;
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #50a8c5;
    border-color: #50a8c5;
    box-shadow: 0 0 0 1px rgb(67, 141, 165);
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #50a8c5;
}
.dropdown-item:hover {
    color: #50a8c5
}
.page-item.active .page-link {
    background-color: #50a8c5;
    border-color: #50a8c5;
}
.ellip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapped {
    word-wrap: break-word;
}
.hidden {
    display: none;
}
/* ./Globals */

.auth-page {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.auth-page .logo-img {
    width: 150px;
    margin-bottom: 15px;
}

/* Dashboard Page */
.dashboard-content .title-btn {
    float: right;
    margin-left: 15px;
}
.dashboard-statistic-card .card:hover {
    cursor: pointer;
}
/* ./Dashboard Page */

.bdd-info {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: center;
}

.bdd-body .dashboard-wrapper {
    background: white;
}

/* Bdd card */
.bdd-card-row {
    margin-bottom: 15px;
}
.bdd-card {
    padding: 25px 25px 25px 0px;
}
.bdd-card .content {
    color: #545454;
}
.bdd-card .bdd-name a:hover {
    color: #5969ff;
    text-decoration: underline;
}
.bdd-card .tags-categories span {
    margin-right: 5px;
}
/* ./Bdd card */

.removeBtn {
    cursor: pointer;
}

.request-detail .request-text {
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}

.request-detail .request-info {
    margin-bottom: 25px;
}

.request-detail .request-info strong {
    color: #3d405c;
    font-size: 14px;
}

.request-detail .request-footer {
    text-align: center;
}

.request-detail hr {
    margin-bottom: 25px;
}

.nav-left-sidebar .navbar-nav .nav-item .badge {
    margin-top: -20px;
    display: block!important;
}

.figure-attachment {
	max-height: 200px;
	min-height: 200px;
}